@font-face {
    font-family: 'Angelbanditdemoregular';
    src: url('./ttf/AngelBanditDemoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antiquestories';
    src: url('./otf/antiquestories.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightning';
    src: url('./ttf/armedlightning.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightning3D';
    src: url('./ttf/armedlightning3d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightning3Dital';
    src: url('./ttf/armedlightning3dital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningacad';
    src: url('./ttf/armedlightningacad.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningacadital';
    src: url('./ttf/armedlightningacadital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningchrome';
    src: url('./ttf/armedlightningchrome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningchromeitalic';
    src: url('./ttf/armedlightningchromeitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningcond';
    src: url('./ttf/armedlightningcond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningcondital';
    src: url('./ttf/armedlightningcondital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningexpand';
    src: url('./ttf/armedlightningexpand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningexpandital';
    src: url('./ttf/armedlightningexpandital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightninggrad';
    src: url('./ttf/armedlightninggrad.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightninggraditalic';
    src: url('./ttf/armedlightninggraditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightninghalf';
    src: url('./ttf/armedlightninghalf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightninghalfitalic';
    src: url('./ttf/armedlightninghalfitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningitalic';
    src: url('./ttf/armedlightningitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightninglaser';
    src: url('./ttf/armedlightninglaser.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightninglaseritalic';
    src: url('./ttf/armedlightninglaseritalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningleft';
    src: url('./ttf/armedlightningleft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningsemital';
    src: url('./ttf/armedlightningsemital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningsquared';
    src: url('./ttf/armedlightningsquared.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningsquaredital';
    src: url('./ttf/armedlightningsquaredital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningsquaredsemital';
    src: url('./ttf/armedlightningsquaredsemital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningsquaredsuperital';
    src: url('./ttf/armedlightningsquaredsuperital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningsuperital';
    src: url('./ttf/armedlightningsuperital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningtitle';
    src: url('./ttf/armedlightningtitle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Armedlightningtitleitalic';
    src: url('./ttf/armedlightningtitleitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benyoritha G334D';
    src: url('./otf/Benyoritha-G334D.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chiralla Vgw9Y';
    src: url('./otf/Chiralla-VGw9y.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzeldecorative Black';
    src: url('./otf/CinzelDecorative-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzeldecorative Bold';
    src: url('./otf/CinzelDecorative-Bold.otf') format('opentype'), url('./ttf/CinzelDecorative-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzeldecorative Regular';
    src: url('./otf/CinzelDecorative-Regular.otf') format('opentype'), url('./ttf/CinzelDecorative-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dalfitra';
    src: url('./otf/dalfitra.otf') format('opentype'), url('./ttf/dalfitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Danymeka Lxx2D';
    src: url('./otf/Danymeka-lxx2D.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramond Initials';
    src: url('./ttf/EBGaramond-Initials.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramond Initialsf1';
    src: url('./ttf/EBGaramond-InitialsF1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramond Initialsf2';
    src: url('./ttf/EBGaramond-InitialsF2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramond08 Italic';
    src: url('./ttf/EBGaramond08-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramond08 Regular';
    src: url('./ttf/EBGaramond08-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramond12 Allsc';
    src: url('./ttf/EBGaramond12-AllSC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramond12 Italic';
    src: url('./ttf/EBGaramond12-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramond12 Regular';
    src: url('./ttf/EBGaramond12-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramondsc08 Regular';
    src: url('./ttf/EBGaramondSC08-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebgaramondsc12 Regular';
    src: url('./ttf/EBGaramondSC12-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Black';
    src: url('./ttf/Glorida-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Blackitalic';
    src: url('./ttf/Glorida-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Bold';
    src: url('./ttf/Glorida-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Bolditalic';
    src: url('./ttf/Glorida-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Extrabold';
    src: url('./ttf/Glorida-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Extrabolditalic';
    src: url('./ttf/Glorida-ExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Extralight';
    src: url('./ttf/Glorida-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Extralightitalic';
    src: url('./ttf/Glorida-ExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Italic';
    src: url('./ttf/Glorida-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Light';
    src: url('./ttf/Glorida-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Lightitalic';
    src: url('./ttf/Glorida-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Medium';
    src: url('./ttf/Glorida-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Mediumitalic';
    src: url('./ttf/Glorida-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Regular';
    src: url('./ttf/Glorida-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Semibold';
    src: url('./ttf/Glorida-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Semibolditalic';
    src: url('./ttf/Glorida-SemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Thin';
    src: url('./ttf/Glorida-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glorida Thinitalic';
    src: url('./ttf/Glorida-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goodly Extralight';
    src: url('./otf/goodly-extralight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goodly Light';
    src: url('./otf/goodly-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goodly Medium';
    src: url('./otf/goodly-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goodly Regular';
    src: url('./otf/goodly-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goodly Semibold';
    src: url('./otf/goodly-semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kabisat Demo Italic Tall';
    src: url('./ttf/kabisat-demo.italic-tall.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kugile Regular';
    src: url('./ttf/kugile.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lasthen';
    src: url('./otf/Lasthen.otf') format('opentype'), url('./ttf/Lasthen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marchevoked Demo';
    src: url('./otf/marchevoked-demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modernline Personal Use Bold';
    src: url('./otf/modernline-personal-use.bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modernline Personal Use Regular';
    src: url('./otf/modernline-personal-use.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nabana Shadow Bold';
    src: url('./ttf/nabana.shadow-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noctra Drip Outline Outline';
    src: url('./ttf/noctra-drip.outline-outline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noctra Drip Outline Outline (1)';
    src: url('./ttf/noctra-drip.outline-outline (1).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oliverra';
    src: url('./ttf/Oliverra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orange Avenue Demo Outline';
    src: url('./otf/orange-avenue-demo.outline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orange Avenue Demo Regular';
    src: url('./otf/orange-avenue-demo.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rockybilly Regular';
    src: url('./ttf/rockybilly.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ruttany';
    src: url('./otf/Ruttany.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sho Card Caps Regular';
    src: url('./ttf/sho-card-caps.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sho Card Caps Regular (2)';
    src: url('./ttf/sho-card-caps.regular (2).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Strenuous 3D';
    src: url('./otf/strenuous.3d.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sudegnakno4 Green Medium';
    src: url('./ttf/sudegnakno4.green-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Beer Golden Palace';
    src: url('./ttf/The Beer Golden Palace.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Travailacharn├Й Regular';
    src: url('./otf/TravailAcharn├й-Regular.otf') format('opentype'), url('./ttf/TravailAcharn├й-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wertign Personaluseonly';
    src: url('./ttf/Wertign PersonalUseOnly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

